.chart {
  height: 40vh;
  width: 100vw;
  position: relative;
  .chart__svg {
    height: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    img {
      position: absolute;
    }
  }
  .chart__title {
    position: fixed;
    top: 62vh;
    left: 1rem;
    font-size: 1.5rem;
    .chart__title--tide {
      color: #c1e5f7;
    }
    .chart__title--sunset {
      color: orange;
      margin-left: 1rem;
    }
  }
}
